
:root {
    /* Primary Colors */
    --clr-orange:hsl(25, 97%, 53%);

    /* Neutral Colors */
    --clr-white:hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%) ;
    --medium-grey: hsl(216, 12%, 54%) ;
    --dark-blue: hsl(213, 19%, 18%) ;
    --very-dark-blue: hsl(216, 12%, 8%);

    /* fonts */
    font-family: 'Overpass', sans-serif;
}

html,body {
    height: 100%;
}

main {
    display: flex;
    place-content: center;
    height: 100%;
    align-self: center;
    background-color: var(--very-dark-blue);
}

.content-container {
    display: none;
    background-color:  var(--dark-blue);
    width: 375px;
    border-radius: 2rem;
    margin: auto 1rem;
    padding: 1.5rem;
    color: var(--light-grey);
    line-height: 1.5;
}

.icon-container {
    position: relative;
    background-color: var(--medium-grey);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--clr-white);
}

.star-icon, .number-rating {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rating-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

 h2 {
    margin-top: 1.5rem;
    margin-bottom: 0;
    color: var(--clr-white);
 
}

.submit-btn {
    color: var(--clr-white);
    background-color: var(--clr-orange);
    border-color: transparent;   
    font-weight: 700;
    width: 100%;
    padding: 1rem 0;
    font-size: 1.25rem;
    border-radius: 2rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
}

.submit-btn:hover {
    background-color: var(--clr-white);
    color: var(--clr-orange);
}

.rating-container .icon-container:hover {
    background-color: var(--light-grey);
    color: var(--dark-blue);
}

.thank-you-container {
    text-align: center;
}

.selected-rating {
    color: var(--clr-orange);
    background-color: var(--medium-grey);
    width: fit-content;
    margin: 1.4rem auto 0;
    padding: .5rem 1rem;
    border-radius: 1.5rem;
}

.view {
    display: initial;
}

.active-rating {
    background-color: var(--clr-orange);
}